{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/app/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/app/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
