{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main class="mx-auto max-w-7xl p-4 md:p-10">
    <h1 class="text-2xl">Welcome!</h1>
</main>
{% endblock %}
